@import "fonts";

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'MuseoSansCyrl', sans-serif;
}

.page-title {
  display: flex;
  justify-content: center;
  > div {
    background: linear-gradient(179deg, rgba(255,255,255,1) 40%, rgba(255,63,4,1) 90%);
    text-align: center;
    color: #fff;
    font-size: 42px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
  }
}